{% extends "base.html.twig" %}

{% block body %}
    {% if catalogs %}
        <!-- product banner statistics area start -->
        <section class="product-banner-statistics">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="product-banner-carousel slick-row-10">

                            {% for c in catalogs %}
                                <!-- banner single slide start -->
                                <div class="banner-slide-item">
                                    <figure class="banner-statistics">
                                        <a href="{{ path('app_catalog', {'path':c.path}) }}">
                                            <img src="/assets/images/banner/img1-middle.jpg" alt="product banner">
                                        </a>
                                        <div class="banner-content banner-content_style2">
                                            <h5 class="banner-text3"><a href="{{ path('app_catalog', {'path':c.path}) }}">{{ c.title }}</a></h5>
                                        </div>
                                    </figure>
                                </div>
                                <!-- banner single slide start -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product banner statistics area end -->
    {% endif %}

    {{ include('main/offers.html.twig') }}

{% endblock %}
