                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="account-info" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h5>Детали профиля</h5>
                                                <div class="account-details-form">
                                                    <form action="#">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="first-name" class="required">Имя</label>
                                                                    <input type="text" id="first-name" placeholder="Имя" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="last-name" class="required">Фамилия</label>
                                                                    <input type="text" id="last-name" placeholder="Фамилия" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="single-input-item">
                                                            <label for="display-name" class="required">Display Name</label>
                                                            <input type="text" id="display-name"
                                                                placeholder="Display Name" />
                                                        </div>
                                                        <div class="single-input-item">
                                                            <label for="email" class="required">Email</label>
                                                            <input type="email" id="email" placeholder="Email" />
                                                        </div>
                                                        <fieldset>
                                                            <legend>Смена пароля</legend>
                                                            <div class="single-input-item">
                                                                <label for="current-pwd" class="required">Текущий пароль</label>
                                                                <input type="password" id="current-pwd"
                                                                    placeholder="Пароль" />
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="single-input-item">
                                                                        <label for="new-pwd" class="required">Новый пароль</label>
                                                                        <input type="password" id="new-pwd"
                                                                            placeholder="Новый пароль" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="single-input-item">
                                                                        <label for="confirm-pwd"
                                                                            class="required">Повторите пароль</label>
                                                                        <input type="password" id="confirm-pwd"
                                                                            placeholder="Повторите пароль" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <div class="single-input-item">
                                                            <button class="btn btn-sqr">Сохранить</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div> <!-- Single Tab Content End -->