<nav id="topnav" class="defaultscroll is-sticky">
<div class="container">
<!-- Logo container-->
<a class="logo" href="index.html">
<img src="/assets/logo-dark.png" class="inline-block dark:hidden" alt="">
<img src="/assets/logo-light.png" class="hidden dark:inline-block" alt="">
</a>

<!-- End Logo container-->
<div class="menu-extras">
<div class="menu-item">
<!-- Mobile menu toggle-->
<a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
    <div class="lines">
        <span></span>
        <span></span>
        <span></span>
    </div>
</a>
<!-- End mobile menu toggle-->
</div>
</div>

<!--Login button Start-->
<ul class="buy-button list-none mb-0">
<li class="inline mb-0">
<a href="" class="btn btn-icon rounded-full bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings h-4 w-4"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg></a>
</li>

<li class="inline pl-1 mb-0">
<a href="https://1.envato.market/techwind" target="_blank" class="btn btn-icon rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart h-4 w-4"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg></a>
</li>
</ul>
<!--Login button End-->

<div id="navigation">
<!-- Navigation Menu-->   
<ul class="navigation-menu">
<li><a href="/" class="sub-menu-item">Главная</a></li>

<li class="has-submenu parent-parent-menu-item active">
    <a href="javascript:void(0)">Landing</a><span class="menu-arrow"></span>

    <ul class="submenu megamenu">
        <li>
            <ul>
                <li><a href="index-saas.html" class="sub-menu-item">Saas <span class="bg-emerald-600 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5 ml-1">Animation</span></a></li>
                <li><a href="index-apps.html" class="sub-menu-item">Application</a></li>
                <li><a href="index-smartwatch.html" class="sub-menu-item">Smartwatch</a></li>
                <li><a href="index-marketing.html" class="sub-menu-item">Marketing</a></li>
                <li><a href="index-it-solution.html" class="sub-menu-item">IT Solution</a></li>
            </ul>
        </li>

        <li>
            <ul>
                <li><a href="index-digital-agency.html" class="sub-menu-item">Digital Agency</a></li>
                <li><a href="index-job.html" class="sub-menu-item">Job</a></li>
                <li><a href="index-restaurent.html" class="sub-menu-item">Restaurent</a></li>
                <li><a href="index-hosting.html" class="sub-menu-item">Hosting</a></li>
                <li><a href="index-gym.html" class="sub-menu-item">Gym <span class="bg-black dark:bg-slate-50 text-white dark:text-slate-900 text-[10px] font-bold px-2.5 py-0.5 rounded h-5 ml-1">Dark</span></a></li>
            </ul>
        </li>

        <li>
            <ul>
                <li><a href="index-startup.html" class="sub-menu-item">Startup</a></li>
                <li><a href="index-hospital.html" class="sub-menu-item">Hospital</a></li>
                <li><a href="index-business.html" class="sub-menu-item">Business</a></li>
                <li><a href="index-corporate.html" class="sub-menu-item">Corporate</a></li>
                <li class="active"><a href="index-real-estate.html" class="sub-menu-item active">Real Estate <span class="bg-amber-500 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5 ml-1">New</span></a></li>
            </ul>
        </li>

        <li>
            <ul>
                <li><a href="index-crypto.html" class="sub-menu-item">Cryptocurrency <span class="bg-black dark:bg-slate-50 text-white dark:text-slate-900 text-[10px] font-bold px-2.5 py-0.5 rounded h-5 ml-1">Dark</span></a></li>
                <li><a href="index-personal.html" class="sub-menu-item">Personal</a></li>
                <li><a href="index-portfolio.html" class="sub-menu-item">Portfolio</a></li>
                <li><a href="index-studio.html" class="sub-menu-item">Studio</a></li>
                <li><a href="index-coworking.html" class="sub-menu-item">Co-Woriking <span class="bg-amber-500 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5 ml-1">New</span></a></li>
            </ul>
        </li>

        <li>
            <ul>
                <li><a href="index-landing-one.html" class="sub-menu-item">Landing One</a></li>
                <li><a href="index-landing-two.html" class="sub-menu-item">Landing Two</a></li>
                <li><a href="index-landing-three.html" class="sub-menu-item">Landing Three</a></li>
                <li><a href="index-landing-four.html" class="sub-menu-item">Landing Four</a></li>
                <li><a href="index-service.html" class="sub-menu-item">Service <span class="bg-amber-500 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5 ml-1">New</span></a></li>
            </ul>
        </li>
    </ul>
</li>

<li class="has-submenu parent-parent-menu-item">
    <a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
    <ul class="submenu">
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Company </a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="page-aboutus.html" class="sub-menu-item"> About Us</a></li>
                <li><a href="page-services.html" class="sub-menu-item">Services</a></li>
                <li><a href="page-team.html" class="sub-menu-item"> Team</a></li>
                <li><a href="page-pricing.html" class="sub-menu-item">Pricing</a></li>
            </ul> 
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Accounts <span class="bg-amber-500 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5 ml-1">New</span></a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="user-profile.html" class="sub-menu-item">User Profile</a></li>
                <li><a href="user-billing.html" class="sub-menu-item">Billing</a></li>
                <li><a href="user-payment.html" class="sub-menu-item">Payment</a></li>
                <li><a href="user-invoice.html" class="sub-menu-item">Invoice</a></li>
                <li><a href="user-social.html" class="sub-menu-item">Social</a></li>
                <li><a href="user-notification.html" class="sub-menu-item">Notification</a></li>
                <li><a href="user-setting.html" class="sub-menu-item">Setting</a></li>
            </ul> 
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Reat Estate <span class="bg-amber-500 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5 ml-1">New</span></a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="property-listing.html" class="sub-menu-item">Listing</a></li>
                <li><a href="property-detail.html" class="sub-menu-item">Property Detail</a></li>
            </ul> 
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Job / Careers </a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="page-job-grid.html" class="sub-menu-item">All Jobs</a></li>
                <li><a href="page-job-detail.html" class="sub-menu-item">Job Detail</a></li>
                <li><a href="page-job-apply.html" class="sub-menu-item">Job Apply</a></li>
                <li><a href="page-job-candidates.html" class="sub-menu-item">Job Candidates</a></li>
                <li><a href="page-job-candidate-detail.html" class="sub-menu-item">Candidate Detail</a></li>
                <li><a href="page-job-companies.html" class="sub-menu-item">All Companies</a></li>
                <li><a href="page-job-company-detail.html" class="sub-menu-item">Company Detail</a></li>
            </ul>  
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Helpcenter </a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="helpcenter.html" class="sub-menu-item">Overview</a></li>
                <li><a href="helpcenter-faqs.html" class="sub-menu-item">FAQs</a></li>
                <li><a href="helpcenter-guides.html" class="sub-menu-item">Guides</a></li>
                <li><a href="helpcenter-support.html" class="sub-menu-item">Support</a></li>
            </ul>  
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Blog </a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="blog.html" class="sub-menu-item">Blogs</a></li>
                <li><a href="blog-sidebar.html" class="sub-menu-item">Blogs &amp; Sidebar</a></li>
                <li><a href="blog-detail.html" class="sub-menu-item">Blog Detail</a></li>
            </ul>  
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Email Template</a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="email-confirmation.html" class="sub-menu-item">Confirmation</a></li>
                <li><a href="email-password-reset.html" class="sub-menu-item">Reset Password</a></li>
                <li><a href="email-alert.html" class="sub-menu-item">Alert</a></li>
                <li><a href="email-invoice.html" class="sub-menu-item">Invoice</a></li>
            </ul>  
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Auth Pages </a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="auth-login.html" class="sub-menu-item">Login</a></li>
                <li><a href="auth-signup.html" class="sub-menu-item">Signup</a></li>
                <li><a href="auth-re-password.html" class="sub-menu-item">Reset Password</a></li>
                <li><a href="auth-lock-screen.html" class="sub-menu-item">Lock Screen <span class="bg-amber-500 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5 ml-1">New</span></a></li>
            </ul>  
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Utility </a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="page-terms.html" class="sub-menu-item">Terms of Services</a></li>
                <li><a href="page-privacy.html" class="sub-menu-item">Privacy Policy</a></li>
            </ul>  
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Special</a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="page-comingsoon.html" class="sub-menu-item">Coming Soon</a></li>
                <li><a href="page-maintenance.html" class="sub-menu-item">Maintenance</a></li>
                <li><a href="page-error.html" class="sub-menu-item">Error</a></li>
                <li><a href="page-thankyou.html" class="sub-menu-item">Thank you</a></li>
            </ul>
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Contact </a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="contact-detail.html" class="sub-menu-item">Contact Detail</a></li>
                <li><a href="contact-one.html" class="sub-menu-item">Contact One</a></li>
                <li><a href="contact-two.html" class="sub-menu-item">Contact Two</a></li>
            </ul>  
        </li>
        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Multi Level Menu</a><span class="submenu-arrow"></span>
            <ul class="submenu">
                <li><a href="javascript:void(0)" class="sub-menu-item">Level 1.0</a></li>
                <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Level 2.0 </a><span class="submenu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="javascript:void(0)" class="sub-menu-item">Level 2.1</a></li>
                        <li><a href="javascript:void(0)" class="sub-menu-item">Level 2.2</a></li>
                    </ul>  
                </li>
            </ul>  
        </li>
    </ul>
</li>

<li class="has-submenu parent-parent-menu-item">
    <a href="javascript:void(0)">Portfolio</a><span class="menu-arrow"></span>
    <ul class="submenu megamenu">
        <li>
            <ul>
                <li class="megamenu-head">Modern Portfolio</li>
                <li><a href="portfolio-modern-two.html" class="sub-menu-item">Two Column</a></li>
                <li><a href="portfolio-modern-three.html" class="sub-menu-item">Three Column</a></li>
                <li><a href="portfolio-modern-four.html" class="sub-menu-item">Four Column</a></li>
                <li><a href="portfolio-modern-five.html" class="sub-menu-item">Five Column</a></li>
                <li><a href="portfolio-modern-six.html" class="sub-menu-item">Six Column</a></li>
            </ul>
        </li>

        <li>
            <ul>
                <li class="megamenu-head">Classic Portfolio</li>
                <li><a href="portfolio-classic-two.html" class="sub-menu-item">Two Column</a></li>
                <li><a href="portfolio-classic-three.html" class="sub-menu-item">Three Column</a></li>
                <li><a href="portfolio-classic-four.html" class="sub-menu-item">Four Column</a></li>
                <li><a href="portfolio-classic-five.html" class="sub-menu-item">Five Column</a></li>
                <li><a href="portfolio-classic-six.html" class="sub-menu-item">Six Column</a></li>
            </ul>
        </li>

        <li>
            <ul>
                <li class="megamenu-head">Creative Portfolio</li>
                <li><a href="portfolio-creative-two.html" class="sub-menu-item">Two Column</a></li>
                <li><a href="portfolio-creative-three.html" class="sub-menu-item">Three Column</a></li>
                <li><a href="portfolio-creative-four.html" class="sub-menu-item">Four Column</a></li>
                <li><a href="portfolio-creative-five.html" class="sub-menu-item">Five Column</a></li>
                <li><a href="portfolio-creative-six.html" class="sub-menu-item">Six Column</a></li>
            </ul>
        </li>

        <li>
            <ul>
                <li class="megamenu-head">Masonry Portfolio</li>
                <li><a href="portfolio-masonry-two.html" class="sub-menu-item">Two Column</a></li>
                <li><a href="portfolio-masonry-three.html" class="sub-menu-item">Three Column</a></li>
                <li><a href="portfolio-masonry-four.html" class="sub-menu-item">Four Column</a></li>
                <li><a href="portfolio-masonry-five.html" class="sub-menu-item">Five Column</a></li>
                <li><a href="portfolio-masonry-six.html" class="sub-menu-item">Six Column</a></li>
            </ul>
        </li>

        <li>
            <ul>
                <li class="megamenu-head">Portfolio Detail</li>
                <li><a href="portfolio-detail-one.html" class="sub-menu-item">Portfolio One</a></li>
                <li><a href="portfolio-detail-two.html" class="sub-menu-item">Portfolio Two</a></li>
                <li><a href="portfolio-detail-three.html" class="sub-menu-item">Portfolio Three</a></li>
                <li><a href="portfolio-detail-four.html" class="sub-menu-item">Portfolio Four</a></li>
            </ul>
        </li>
    </ul>
</li>

<li class="has-submenu parent-menu-item">
    <a href="javascript:void(0)">Docs</a><span class="menu-arrow"></span>
    <ul class="submenu">
        <li><a href="documentation.html" class="sub-menu-item">Documentation</a></li>
        <li><a href="changelog.html" class="sub-menu-item">Changelog</a></li>
        
    </ul>
</li>

<li><a href="contact-one.html" class="sub-menu-item">Контакты</a></li>
</ul><!--end navigation menu-->
</div><!--end navigation-->
</div><!--end container-->
</nav>